.ui-widget {
    font-size: 12px !important;
}

#logo_cabecalho{
	float: right;
}

.rodape_esquerda{
	float: left;
	padding-left: 20px;	
}

.rodape_direita{
	float: right;
	padding-right: 20px;	
}

.rodape{
	height: 60px;
}

.negrito{
	font-weight: bolder;
}

.vAlTop{
	vertical-align: top;
	width: 50%;
}

.vAlCenter{
	vertical-align: middle;
	width: 50%
}

.nome{
	text-decoration: none;
	margin-left: 20px;
}

.status_1{
	color: red;
}

.status_2{
	color: orange;
}

.status_7{
	color: blue;
}
.status_3{
	color: #4CB0CF;
}
.status_4{
	color: #CC3366;
}
.status_5{
	color: #996600;
}
.status_6{
	color: #333333;
}